In [1]:
from lifelines import CoxPHFitter
from lifelines import KaplanMeierFitter
import pandas as pd

In [53]:
diff_ppi = pd.read_csv("./differential_ppi.csv")

In [54]:
diff_ppi.head()

  Protein1 Protein2  LUAD_Corr  LUSC_Corr  Corr_Diff
0      ATM     CDK1  -0.506295        0.0   0.506295
1      ATM    CHEK1  -0.569966        0.0   0.569966
2      ATM    PARP1   0.506520        0.0   0.506520
3     BAK1      BID   0.596111        0.0   0.596111
4     BRAF    PRKCB   0.521170        0.0   0.521170

In [73]:
# Select top 20 PPIs
top_ppi = diff_ppi.sort_values("Corr_Diff", ascending=False).head(20)
print("Selected PPIs:")
print(top_ppi[['Protein1', 'Protein2', 'Corr_Diff']])

Selected PPIs:
   Protein1 Protein2  Corr_Diff
17     MTOR    PRKCB   0.734250
6     CCNE2    CHEK1   0.701017
41     GAB2   STAT5A   0.635767
40    FOXO3    MAPK8   0.633330
7      CDK1    CHEK1   0.630791
38   CTNNB1     NRAS   0.628162
48      MET     NRAS   0.627585
42     IRS1    YWHAB   0.627460
18     MTOR  RPS6KA1   0.602063
3      BAK1      BID   0.596111
26    SMAD1    SMAD3   0.590941
45    MAPK8     NRAS   0.589096
47    MAPK8    SMAD4   0.587394
27     TSC1     TSC2   0.586724
46    MAPK8      PGR   0.583058
1       ATM    CHEK1   0.569966
39     ESR1    FOXO3   0.568600
33   CDKN1A    PARP1   0.565421
21    NFKB1   STAT5A   0.563653
14    MAPK1    PRKCB   0.561144

In [74]:
luad_clinical_data=pd.read_csv('./data_clinical_patient_luad.txt', sep="\t", comment="#", skiprows=3)
lusc_clinical_data=pd.read_csv('./data_clinical_patient_lusc.txt', sep="\t", comment="#", skiprows=3)

In [7]:
luad_clinical_data.head()

,PATIENT_ID,SUBTYPE,CANCER_TYPE_ACRONYM,OTHER_PATIENT_ID,AGE,SEX,AJCC_PATHOLOGIC_TUMOR_STAGE,AJCC_STAGING_EDITION,DAYS_LAST_FOLLOWUP,DAYS_TO_BIRTH,...,IN_PANCANPATHWAYS_FREEZE,OS_STATUS,OS_MONTHS,DSS_STATUS,DSS_MONTHS,DFS_STATUS,DFS_MONTHS,PFS_STATUS,PFS_MONTHS,GENETIC_ANCESTRY_LABEL
0,TCGA-05-4244,LUAD,LUAD,34040b83-7e8a-4264-a551-b16621843e28,70.0,Male,STAGE IV,6TH,0.0,-25752.0,...,Yes,0:LIVING,0.000000,0:ALIVE OR DEAD TUMOR FREE,0.000000,NaN,NaN,0:CENSORED,0.000000,EUR
1,TCGA-05-4249,LUAD,LUAD,4addf05f-3668-4b3f-a17f-c0227329ca52,67.0,Male,STAGE IB,6TH,1523.0,-24532.0,...,Yes,0:LIVING,50.070684,0:ALIVE OR DEAD TUMOR FREE,50.070684,NaN,NaN,0:CENSORED,50.070684,EUR
2,TCGA-05-4250,LUAD,LUAD,f98ecd8a-b878-4f53-b911-20cd8e17281c,79.0,Female,STAGE IIIA,6TH,NaN,-29068.0,...,Yes,1:DECEASED,3.978039,NaN,3.978039,NaN,NaN,0:CENSORED,3.978039,EUR
3,TCGA-05-4382,LUAD,LUAD,3434b91a-c05f-460f-a078-7b1bb6e7085d,68.0,Male,STAGE IB,6TH,607.0,-24868.0,...,Yes,0:LIVING,19.955946,0:ALIVE OR DEAD TUMOR FREE,19.955946,1:Recurred/Progressed,10.980702,1:PROGRESSION,10.980702,EUR
4,TCGA-05-4384,LUAD,LUAD,9a50e7e4-831d-489f-87d2-979e987561cc,66.0,Male,STAGE IIIA,6TH,426.0,-24411.0,...,Yes,0:LIVING,14.005326,0:ALIVE OR DEAD TUMOR FREE,14.005326,NaN,NaN,1:PROGRESSION,6.016372,EUR

In [8]:
lusc_clinical_data.head()

,PATIENT_ID,SUBTYPE,CANCER_TYPE_ACRONYM,OTHER_PATIENT_ID,AGE,SEX,AJCC_PATHOLOGIC_TUMOR_STAGE,AJCC_STAGING_EDITION,DAYS_LAST_FOLLOWUP,DAYS_TO_BIRTH,...,IN_PANCANPATHWAYS_FREEZE,OS_STATUS,OS_MONTHS,DSS_STATUS,DSS_MONTHS,DFS_STATUS,DFS_MONTHS,PFS_STATUS,PFS_MONTHS,GENETIC_ANCESTRY_LABEL
0,TCGA-18-3406,LUSC,LUSC,95b83006-02c9-4c4d-bf84-a45115f7d86d,67.0,Male,STAGE IA,NaN,NaN,-24477.0,...,Yes,1:DECEASED,12.197127,1:DEAD WITH TUMOR,12.197127,NaN,NaN,1:PROGRESSION,11.736858,EUR
1,TCGA-18-3407,LUSC,LUSC,4e1ad82e-23c8-44bb-b74e-a3d0b1126b96,72.0,Male,STAGE IB,NaN,NaN,-26615.0,...,Yes,1:DECEASED,4.471184,0:ALIVE OR DEAD TUMOR FREE,4.471184,NaN,NaN,0:CENSORED,4.471184,EAS
2,TCGA-18-3408,LUSC,LUSC,d4bc755a-2585-4529-ae36-7e1d88bdecfe,77.0,Female,STAGE IB,NaN,2099.0,-28171.0,...,Yes,1:DECEASED,75.747115,1:DEAD WITH TUMOR,75.747115,NaN,NaN,1:PROGRESSION,58.947299,EUR
3,TCGA-18-3410,LUSC,LUSC,99599b60-4f5c-456b-8755-371b1aa7074e,81.0,Male,STAGE IIB,NaN,NaN,-29827.0,...,Yes,1:DECEASED,4.799947,0:ALIVE OR DEAD TUMOR FREE,4.799947,NaN,NaN,0:CENSORED,4.799947,EUR
4,TCGA-18-3411,LUSC,LUSC,f1a1bbf9-4751-4fb4-8a2b-19f8d4ba57bd,63.0,Female,STAGE IIIA,NaN,3576.0,-23370.0,...,Yes,0:LIVING,117.565835,0:ALIVE OR DEAD TUMOR FREE,117.565835,NaN,NaN,0:CENSORED,117.565835,EUR

In [9]:
luad_clinical_data['subtype']=0
lusc_clinical_data['subtype']=1

In [10]:
luad_survival = luad_clinical_data[['PATIENT_ID', 'OS_MONTHS', 'OS_STATUS']].copy()
luad_survival['subtype'] = 0  # LUAD
lusc_survival = lusc_clinical_data[['PATIENT_ID', 'OS_MONTHS', 'OS_STATUS']].copy()
lusc_survival['subtype'] = 1  # LUSC

In [11]:
luad_survival.head()

     PATIENT_ID  OS_MONTHS   OS_STATUS  subtype
0  TCGA-05-4244   0.000000    0:LIVING        0
1  TCGA-05-4249  50.070684    0:LIVING        0
2  TCGA-05-4250   3.978039  1:DECEASED        0
3  TCGA-05-4382  19.955946    0:LIVING        0
4  TCGA-05-4384  14.005326    0:LIVING        0

In [12]:
lusc_survival.head()

     PATIENT_ID   OS_MONTHS   OS_STATUS  subtype
0  TCGA-18-3406   12.197127  1:DECEASED        1
1  TCGA-18-3407    4.471184  1:DECEASED        1
2  TCGA-18-3408   75.747115  1:DECEASED        1
3  TCGA-18-3410    4.799947  1:DECEASED        1
4  TCGA-18-3411  117.565835    0:LIVING        1

In [13]:
luad_survival['event'] = luad_survival['OS_STATUS'].map({'0:LIVING': 0, '1:DECEASED': 1})
lusc_survival['event'] = lusc_survival['OS_STATUS'].map({'0:LIVING': 0, '1:DECEASED': 1})

In [14]:
luad_survival.head()

     PATIENT_ID  OS_MONTHS   OS_STATUS  subtype  event
0  TCGA-05-4244   0.000000    0:LIVING        0    0.0
1  TCGA-05-4249  50.070684    0:LIVING        0    0.0
2  TCGA-05-4250   3.978039  1:DECEASED        0    1.0
3  TCGA-05-4382  19.955946    0:LIVING        0    0.0
4  TCGA-05-4384  14.005326    0:LIVING        0    0.0

In [15]:
survival_data = pd.concat([luad_survival, lusc_survival], axis=0)
survival_data = survival_data.rename(columns={'OS_MONTHS': 'time', 'PATIENT_ID': 'sample_id'})
survival_data = survival_data[['sample_id', 'time', 'event', 'subtype']].dropna()

In [16]:
survival_data.head()

      sample_id       time  event  subtype
0  TCGA-05-4244   0.000000    0.0        0
1  TCGA-05-4249  50.070684    0.0        0
2  TCGA-05-4250   3.978039    1.0        0
3  TCGA-05-4382  19.955946    0.0        0
4  TCGA-05-4384  14.005326    0.0        0

In [17]:
print("Survival Data Shape:", survival_data.shape)
print("Survival Data Sample:")
print(survival_data.head())

Survival Data Shape: (986, 4)
Survival Data Sample:
      sample_id       time  event  subtype
0  TCGA-05-4244   0.000000    0.0        0
1  TCGA-05-4249  50.070684    0.0        0
2  TCGA-05-4250   3.978039    1.0        0
3  TCGA-05-4382  19.955946    0.0        0
4  TCGA-05-4384  14.005326    0.0        0

In [18]:
luad_rppa_t=pd.read_csv('./luad_rppa_t.csv')
lusc_rppa_t=pd.read_csv('./lusc_rppa_t.csv')

luad_rppa=luad_rppa_t
lusc_rppa=lusc_rppa_t

In [19]:
luad_rppa.head()

,Unnamed: 0,ACACA,ACACA ACACB,ACVRL1,ADAR,AKT1 AKT2 AKT3,AKT1S1,ANXA1,ANXA7,AR,...,VHL,WWTR1,XBP1,XRCC1,XRCC5,YAP1,YBX1,YWHAB,YWHAE,YWHAZ
0,TCGA-44-2657-01,0.336822,-1.045157,-0.878186,0.045131,-0.020636,0.318265,0.546973,-1.143793,-0.281757,...,-2.081130,1.386124,-1.017992,-0.192263,1.449544,1.692436,0.030079,-0.744098,-1.102379,1.365662
1,TCGA-64-1676-01,1.247726,-0.460408,-0.651300,0.144937,-0.099552,0.053440,1.391998,-0.947533,-0.512303,...,-1.033074,0.417518,-1.111580,-0.233474,1.630480,1.652474,-0.109901,-0.611862,-0.908190,1.288186
2,TCGA-44-3919-01,1.670755,0.154605,-0.819951,0.091063,0.310814,0.218850,1.069042,-1.311569,-0.674207,...,0.977964,0.126601,-1.163457,-0.462655,1.629697,1.172673,-0.137685,-0.753828,-1.237857,0.925723
3,TCGA-55-1592-01,1.897770,0.364784,-0.781478,0.171532,0.261696,0.238331,0.339938,-1.028145,-0.094218,...,0.928838,0.423211,-1.122139,-0.609778,1.840214,1.596972,-0.135360,-0.711122,-1.153046,1.070376
4,TCGA-38-4627-01,1.208510,-0.420981,-0.969520,0.003876,-0.127493,0.022871,0.620201,-1.200420,0.119866,...,-0.438592,0.334890,-1.013284,-0.518807,1.253049,1.735695,-0.131667,-0.757239,-1.059544,0.914051

In [20]:
lusc_rppa.head()

,Unnamed: 0,ACACA,ACACA ACACB,ACVRL1,ADAR,AKT1 AKT2 AKT3,AKT1S1,ANXA1,ANXA7,AR,...,VHL,WWTR1,XBP1,XRCC1,XRCC5,YAP1,YBX1,YWHAB,YWHAE,YWHAZ
0,TCGA-21-1076-01,1.285456,-0.321459,-0.901343,0.075403,-0.133130,-0.086001,1.437838,-0.874138,-0.543423,...,2.506814,0.316113,-1.158404,0.058663,1.875450,1.165321,-0.128372,-0.757025,-1.007001,1.334067
1,TCGA-21-1080-01,1.647616,0.038485,-0.982615,0.103840,-0.284609,-0.003143,1.104097,-0.983690,-0.097492,...,1.997446,0.194114,-1.049009,-0.067092,2.042231,1.377230,-0.328169,-0.845887,-1.037435,1.623629
2,TCGA-34-2608-01,1.248730,-0.244398,-0.825753,0.113085,-0.077841,-0.019969,0.722795,-0.742296,-0.587235,...,2.203342,0.359324,-0.845523,-0.362459,1.848679,1.220588,0.192578,-0.664264,-1.106067,1.169968
3,TCGA-60-2698-01,0.023586,-0.653731,-1.122799,0.047595,-0.208279,0.216752,1.305984,-1.195301,-0.793793,...,-0.864868,0.847928,-1.527120,-0.315842,1.747537,1.131565,0.457302,-0.857019,-0.990504,1.752936
4,TCGA-60-2725-01,1.425132,-0.283715,-0.866111,0.136986,0.069387,0.106870,0.779600,-0.872443,-0.445907,...,1.174377,0.149069,-1.475705,-0.174002,1.555564,1.176920,-0.181405,-0.786502,-1.036088,1.220682

In [21]:
luad_rppa = luad_rppa.rename(columns={'Unnamed: 0': 'Composite.Element.REF'})

In [22]:
lusc_rppa = lusc_rppa.rename(columns={'Unnamed: 0': 'Composite.Element.REF'})

In [23]:
luad_rppa.index = luad_rppa['Composite.Element.REF'].str.slice(0, 12)  # e.g., TCGA-05-4244
lusc_rppa.index = lusc_rppa['Composite.Element.REF'].str.slice(0, 12)
rppa_data = pd.concat([luad_rppa, lusc_rppa], axis=0)
rppa_data=rppa_data.drop(columns=['Composite.Element.REF'])

In [24]:
rppa_data.head()

,ACACA,ACACA ACACB,ACVRL1,ADAR,AKT1 AKT2 AKT3,AKT1S1,ANXA1,ANXA7,AR,ARAF,...,VHL,WWTR1,XBP1,XRCC1,XRCC5,YAP1,YBX1,YWHAB,YWHAE,YWHAZ
Composite.Element.REF,,,,,,,,,,,,,,,,,,,,,
TCGA-44-2657,0.336822,-1.045157,-0.878186,0.045131,-0.020636,0.318265,0.546973,-1.143793,-0.281757,-1.236197,...,-2.081130,1.386124,-1.017992,-0.192263,1.449544,1.692436,0.030079,-0.744098,-1.102379,1.365662
TCGA-64-1676,1.247726,-0.460408,-0.651300,0.144937,-0.099552,0.053440,1.391998,-0.947533,-0.512303,-1.227494,...,-1.033074,0.417518,-1.111580,-0.233474,1.630480,1.652474,-0.109901,-0.611862,-0.908190,1.288186
TCGA-44-3919,1.670755,0.154605,-0.819951,0.091063,0.310814,0.218850,1.069042,-1.311569,-0.674207,-0.251411,...,0.977964,0.126601,-1.163457,-0.462655,1.629697,1.172673,-0.137685,-0.753828,-1.237857,0.925723
TCGA-55-1592,1.897770,0.364784,-0.781478,0.171532,0.261696,0.238331,0.339938,-1.028145,-0.094218,-0.704374,...,0.928838,0.423211,-1.122139,-0.609778,1.840214,1.596972,-0.135360,-0.711122,-1.153046,1.070376
TCGA-38-4627,1.208510,-0.420981,-0.969520,0.003876,-0.127493,0.022871,0.620201,-1.200420,0.119866,-0.050209,...,-0.438592,0.334890,-1.013284,-0.518807,1.253049,1.735695,-0.131667,-0.757239,-1.059544,0.914051

In [25]:
rppa_data.shape

(677, 163)

In [75]:
# Create PPI features (expression product)
features = pd.DataFrame(index=rppa_data.index)
for _, row in top_ppi.iterrows():
    p1, p2 = row['Protein1'], row['Protein2']
    if p1 in rppa_data.columns and p2 in rppa_data.columns:
        feature_name = f"{p1}_{p2}"
        features[feature_name] = rppa_data[p1] * rppa_data[p2]
    else:
        print(f"Warning: {p1} or {p2} not in RPPA data.")

In [76]:
# Merge with survival data
data = survival_data.set_index('sample_id').join(features, how='inner')
data = data.dropna()

In [77]:
print("\nMerged Data Shape:", data.shape)
print("Merged Data Sample:")
data.head()

Merged Data Shape: (664, 23)
Merged Data Sample:

,time,event,subtype,MTOR_PRKCB,CCNE2_CHEK1,GAB2_STAT5A,FOXO3_MAPK8,CDK1_CHEK1,CTNNB1_NRAS,MET_NRAS,...,SMAD1_SMAD3,MAPK8_NRAS,MAPK8_SMAD4,TSC1_TSC2,MAPK8_PGR,ATM_CHEK1,ESR1_FOXO3,CDKN1A_PARP1,NFKB1_STAT5A,MAPK1_PRKCB
TCGA-05-4244,0.000000,0.0,0,2.049919,-0.452901,1.611705,0.997896,-0.101609,-4.688788,-0.513823,...,-0.034530,1.395498,1.140977,0.726219,0.875729,-0.690319,-0.901962,0.141818,1.842066,3.300473
TCGA-05-4249,50.070684,0.0,0,0.782514,-0.418163,0.529452,0.435712,-0.092340,-5.488482,-0.406147,...,0.338042,0.767098,0.609090,0.673662,0.478155,-1.164075,0.837895,0.001381,-0.044822,1.399504
TCGA-05-4250,3.978039,1.0,0,0.287492,-0.577081,2.345677,0.565822,-0.115634,-4.396061,-0.474155,...,0.117391,0.894107,0.619229,0.186438,0.515416,-1.002420,1.431343,0.052658,0.904672,2.075056
TCGA-05-4384,14.005326,0.0,0,1.203496,-0.503560,1.096155,0.207464,-0.197482,-5.384202,-0.508967,...,0.198708,0.281393,0.218115,1.244947,0.204772,-1.032408,1.187861,0.016590,0.674985,2.385240
TCGA-05-4396,9.961535,1.0,0,0.709391,-0.380616,1.394691,0.860362,-0.064696,-6.226310,-0.607205,...,0.399109,1.189191,0.883762,0.846944,0.782266,-0.953094,1.471671,0.009686,1.529351,1.172182

In [91]:
cox_data = data[['time', 'event', 'subtype'] + features.columns.tolist()]
cph = CoxPHFitter(penalizer=0.1)
try:
    cph.fit(cox_data, duration_col='time', event_col='event', strata="subtype")
except Exception as e:
    print(f"Error fitting Cox model: {e}")
    exit()

In [92]:
print("\nCox Regression Summary:")
cph.print_summary(decimals=3)

# Save coefficients
results = cph.summary[['coef', 'exp(coef)', 'p']]
results.to_csv("cox_ppi_results.csv")
print("\nSaved coefficients to cox_ppi_results.csv")

Cox Regression Summary:

<lifelines.CoxPHFitter: fitted with 664 total observations, 397 right-censored observations>
             duration col = 'time'
                event col = 'event'
                penalizer = 0.1
                 l1 ratio = 0.0
                   strata = subtype
      baseline estimation = breslow
   number of observations = 664
number of events observed = 267
   partial log-likelihood = -1308.205
         time fit was run = 2025-04-16 05:53:37 UTC

---
               coef exp(coef)  se(coef)  coef lower 95%  coef upper 95% exp(coef) lower 95% exp(coef) upper 95%
covariate
MTOR_PRKCB    0.208     1.231     0.175          -0.134           0.550               0.874               1.734
CCNE2_CHEK1  -0.318     0.728     0.366          -1.036           0.400               0.355               1.491
GAB2_STAT5A  -0.031     0.970     0.056          -0.140           0.079               0.869               1.082
FOXO3_MAPK8  -0.100     0.905     0.301          -0.689           0.489               0.502               1.631
CDK1_CHEK1   -0.462     0.630     0.561          -1.562           0.639               0.210               1.894
CTNNB1_NRAS  -0.003     0.997     0.047          -0.095           0.088               0.910               1.092
MET_NRAS     -0.075     0.927     0.394          -0.847           0.697               0.428               2.007
IRS1_YWHAB   -0.501     0.606     0.257          -1.005           0.004               0.366               1.004
MTOR_RPS6KA1 -0.072     0.931     0.509          -1.070           0.927               0.343               2.526
BAK1_BID      0.019     1.019     0.127          -0.230           0.267               0.794               1.306
SMAD1_SMAD3  -0.099     0.906     0.179          -0.449           0.252               0.638               1.286
MAPK8_NRAS   -0.014     0.986     0.210          -0.425           0.396               0.654               1.486
MAPK8_SMAD4   0.120     1.127     0.260          -0.391           0.630               0.677               1.877
TSC1_TSC2    -0.131     0.877     0.152          -0.430           0.168               0.651               1.182
MAPK8_PGR     0.144     1.155     0.329          -0.501           0.788               0.606               2.199
ATM_CHEK1     0.051     1.053     0.160          -0.262           0.365               0.770               1.440
ESR1_FOXO3    0.263     1.300     0.190          -0.110           0.635               0.896               1.887
CDKN1A_PARP1 -0.061     0.941     0.074          -0.206           0.085               0.814               1.088
NFKB1_STAT5A  0.034     1.034     0.058          -0.079           0.146               0.924               1.158
MAPK1_PRKCB  -0.098     0.906     0.084          -0.264           0.067               0.768               1.069

              cmp to      z     p  -log2(p)
covariate
MTOR_PRKCB     0.000  1.191 0.234     2.097
CCNE2_CHEK1    0.000 -0.868 0.385     1.376
GAB2_STAT5A    0.000 -0.548 0.584     0.777
FOXO3_MAPK8    0.000 -0.332 0.740     0.435
CDK1_CHEK1     0.000 -0.823 0.411     1.284
CTNNB1_NRAS    0.000 -0.074 0.941     0.088
MET_NRAS       0.000 -0.191 0.848     0.237
IRS1_YWHAB     0.000 -1.944 0.052     4.269
MTOR_RPS6KA1   0.000 -0.141 0.888     0.171
BAK1_BID       0.000  0.146 0.884     0.178
SMAD1_SMAD3    0.000 -0.552 0.581     0.784
MAPK8_NRAS     0.000 -0.069 0.945     0.081
MAPK8_SMAD4    0.000  0.459 0.646     0.630
TSC1_TSC2      0.000 -0.861 0.390     1.360
MAPK8_PGR      0.000  0.437 0.662     0.596
ATM_CHEK1      0.000  0.322 0.747     0.420
ESR1_FOXO3     0.000  1.382 0.167     2.582
CDKN1A_PARP1   0.000 -0.819 0.413     1.276
NFKB1_STAT5A   0.000  0.583 0.560     0.836
MAPK1_PRKCB    0.000 -1.166 0.244     2.036
---
Concordance = 0.573
Partial AIC = 2656.410
log-likelihood ratio test = 11.420 on 20 df
-log2(p) of ll-ratio test = 0.098

Saved coefficients to cox_ppi_results.csv

In [31]:
from matplotlib import pyplot as plt 
if features.columns.size > 0:
    top_feature = features.columns[0]
    km_data = data[[top_feature, 'time', 'event']].copy()
    km_data['group'] = km_data[top_feature] > km_data[top_feature].median()

    kmf = KaplanMeierFitter()
    plt.figure(figsize=(8, 6))
    for group in [True, False]:
        mask = km_data['group'] == group
        kmf.fit(km_data[mask]['time'], km_data[mask]['event'], 
                label=f"{top_feature} {'High' if group else 'Low'}")
        kmf.plot_survival_function()

    plt.title(f"Kaplan-Meier Survival by {top_feature}")
    plt.savefig("kaplan_meier_ppi.png")
    plt.close()
else:
    print("No valid PPI features for Kaplan-Meier plot.")

In [32]:
os_survival = pd.concat([luad_clinical_data[['PATIENT_ID', 'OS_MONTHS', 'OS_STATUS', 'subtype']], 
                         lusc_clinical_data[['PATIENT_ID', 'OS_MONTHS', 'OS_STATUS', 'subtype']]], axis=0)
os_survival = os_survival.rename(columns={'OS_MONTHS': 'time', 'PATIENT_ID': 'sample_id', 'OS_STATUS':'event'})
os_survival = os_survival.dropna()

dfs_survival = pd.concat([luad_clinical_data[['PATIENT_ID', 'DFS_MONTHS', 'DFS_STATUS', 'subtype']], 
                          lusc_clinical_data[['PATIENT_ID', 'DFS_MONTHS', 'DFS_STATUS', 'subtype']]], axis=0)
dfs_survival = dfs_survival.rename(columns={'DFS_MONTHS': 'time',  'PATIENT_ID': 'sample_id', 'DFS_STATUS':'event'})
dfs_survival = dfs_survival.dropna()

print("OS Survival Data Shape:", os_survival.shape)
print("DFS Survival Data Shape:", dfs_survival.shape)

OS Survival Data Shape: (986, 4)
DFS Survival Data Shape: (596, 4)

In [33]:
survival_data.head()

      sample_id       time  event  subtype
0  TCGA-05-4244   0.000000    0.0        0
1  TCGA-05-4249  50.070684    0.0        0
2  TCGA-05-4250   3.978039    1.0        0
3  TCGA-05-4382  19.955946    0.0        0
4  TCGA-05-4384  14.005326    0.0        0

In [34]:
print("OS Survival data:-")
os_survival.head()

OS Survival data:-

      sample_id       time       event  subtype
0  TCGA-05-4244   0.000000    0:LIVING        0
1  TCGA-05-4249  50.070684    0:LIVING        0
2  TCGA-05-4250   3.978039  1:DECEASED        0
3  TCGA-05-4382  19.955946    0:LIVING        0
4  TCGA-05-4384  14.005326    0:LIVING        0

In [35]:
print("DFS Survival data:-")
dfs_survival.head()

DFS Survival data:-

       sample_id       time                  event  subtype
3   TCGA-05-4382  10.980702  1:Recurred/Progressed        0
10  TCGA-05-4398  47.046060          0:DiseaseFree        0
18  TCGA-05-4420  29.983233          0:DiseaseFree        0
22  TCGA-05-4426  15.024493  1:Recurred/Progressed        0
23  TCGA-05-4427  26.005194          0:DiseaseFree        0

In [36]:
os_survival['event'] = os_survival['event'].map({'0:LIVING': 0, '1:DECEASED': 1})
dfs_survival['event'] = dfs_survival['event'].map({'0:DiseaseFree': 0, '1:Recurred/Progressed': 1})

In [37]:
os_survival.head()

      sample_id       time  event  subtype
0  TCGA-05-4244   0.000000      0        0
1  TCGA-05-4249  50.070684      0        0
2  TCGA-05-4250   3.978039      1        0
3  TCGA-05-4382  19.955946      0        0
4  TCGA-05-4384  14.005326      0        0

In [38]:
dfs_survival.head()

       sample_id       time  event  subtype
3   TCGA-05-4382  10.980702      1        0
10  TCGA-05-4398  47.046060      0        0
18  TCGA-05-4420  29.983233      0        0
22  TCGA-05-4426  15.024493      1        0
23  TCGA-05-4427  26.005194      0        0

In [39]:
# Merge data
os_data = os_survival.set_index('sample_id').join(features, how='inner').dropna()
dfs_data = dfs_survival.set_index('sample_id').join(features, how='inner').dropna()

print("\nOS Merged Data Shape:", os_data.shape)
print("DFS Merged Data Shape:", dfs_data.shape)

OS Merged Data Shape: (664, 8)
DFS Merged Data Shape: (404, 8)

In [40]:
def cox_predict(data, features, endpoint):
    if data.shape[0] < 20:
        print(f"Error: {endpoint} data too small ({data.shape[0]} samples). Skipping.")
        return None
    
    cox_data = data[['time', 'event', 'subtype'] + features.columns.tolist()]
    cph = CoxPHFitter()
    try:
        cph.fit(cox_data, duration_col='time', event_col='event')
    except Exception as e:
        print(f"Error fitting {endpoint} Cox model: {e}")
        return None
    
    # Predict survival probabilities at 12, 36, 60 months
    # Predict survival probabilities at 12, 36, 60 months
    time_points = [12, 36, 60]
    # Ensure correct columns are passed
    covariates = cox_data[features.columns.tolist() + ['subtype']]
    survival_prob = cph.predict_survival_function(covariates, times=time_points)
    # survival_prob has shape (len(time_points), n_samples); transpose to (n_samples, len(time_points))
    survival_prob = survival_prob.T
    survival_prob.index = cox_data.index
    survival_prob.index.name = 'sample_id'
    survival_prob.columns = [f"{endpoint}_prob_{t}m" for t in time_points]
    
    # Predict risk scores
    risk_scores = cph.predict_log_partial_hazard(cox_data[features.columns.tolist() + ['subtype']])
    risk_scores = pd.Series(risk_scores, index=cox_data.index, name=f"{endpoint}_risk_score")

    # Save results
    results = cph.summary[['coef', 'exp(coef)', 'p']]
    results.to_csv(f"cox_{endpoint}_results.csv")
    
    # Kaplan-Meier for top feature
    if features.columns.size > 0:
        top_feature = features.columns[0]
        km_data = data[[top_feature, 'time', 'event']].copy()
        km_data['group'] = km_data[top_feature] > km_data[top_feature].median()
        
        kmf = KaplanMeierFitter()
        plt.figure(figsize=(8, 6))
        for group in [True, False]:
            mask = km_data['group'] == group
            if mask.sum() > 0:
                kmf.fit(km_data[mask]['time'], km_data[mask]['event'], 
                        label=f"{top_feature} {'High' if group else 'Low'}")
                kmf.plot_survival_function()
        
        plt.title(f"Kaplan-Meier {endpoint} by {top_feature}")
        plt.savefig(f"kaplan_meier_{endpoint}.png")
        plt.close()
    
    # Save predictions
    predictions = pd.concat([survival_prob, risk_scores], axis=1)
    predictions.to_csv(f"{endpoint}_predictions.csv")
    predictions = pd.concat([survival_prob, risk_scores], axis=1)
    predictions.to_csv(f"{endpoint}_predictions.csv")
    
    # Print summary
    print(f"\n{endpoint} Cox Regression Summary:")
    cph.print_summary(decimals=3)
    print(f"{endpoint} Concordance:", cph.concordance_index_)
    
    return predictions

In [41]:
# Predict OS
os_predictions = cox_predict(os_data, features, "OS")
if os_predictions is not None:
    print("\nOS Predictions Sample:")
    print(os_predictions.head())

OS Cox Regression Summary:

<lifelines.CoxPHFitter: fitted with 664 total observations, 397 right-censored observations>
             duration col = 'time'
                event col = 'event'
      baseline estimation = breslow
   number of observations = 664
number of events observed = 267
   partial log-likelihood = -1497.693
         time fit was run = 2025-04-16 05:23:55 UTC

---
              coef exp(coef)  se(coef)  coef lower 95%  coef upper 95% exp(coef) lower 95% exp(coef) upper 95%
covariate
subtype     -0.070     0.932     0.141          -0.345           0.205               0.708               1.228
MTOR_PRKCB   0.115     1.122     0.163          -0.205           0.435               0.815               1.545
CCNE2_CHEK1 -0.209     0.811     0.402          -0.996           0.578               0.369               1.783
GAB2_STAT5A -0.042     0.959     0.058          -0.156           0.071               0.856               1.074
FOXO3_MAPK8  0.047     1.048     0.187          -0.319           0.413               0.727               1.511
CDK1_CHEK1  -0.244     0.784     0.591          -1.401           0.914               0.246               2.494

             cmp to      z     p  -log2(p)
covariate
subtype       0.000 -0.498 0.618     0.693
MTOR_PRKCB    0.000  0.707 0.480     1.059
CCNE2_CHEK1   0.000 -0.521 0.603     0.731
GAB2_STAT5A   0.000 -0.732 0.464     1.108
FOXO3_MAPK8   0.000  0.252 0.801     0.320
CDK1_CHEK1    0.000 -0.412 0.680     0.556
---
Concordance = 0.504
Partial AIC = 3007.385
log-likelihood ratio test = 1.751 on 6 df
-log2(p) of ll-ratio test = 0.088

OS Concordance: 0.5037481259370314

OS Predictions Sample:
              OS_prob_12m  OS_prob_36m  OS_prob_60m  OS_risk_score
sample_id
TCGA-05-4244     0.821237     0.535962     0.369844       0.262843
TCGA-05-4249     0.842102     0.580283     0.419807       0.126574
TCGA-05-4250     0.854513     0.607801     0.452002       0.037599
TCGA-05-4384     0.833618     0.561970     0.398877       0.183825
TCGA-05-4396     0.847750     0.592698     0.434222       0.086901

In [43]:
# Predict DFS
dfs_predictions = cox_predict(dfs_data, features, "DFS")
if dfs_predictions is not None:
    print("\nDFS Predictions Sample:")
    print(dfs_predictions.head())

DFS Cox Regression Summary:

<lifelines.CoxPHFitter: fitted with 404 total observations, 293 right-censored observations>
             duration col = 'time'
                event col = 'event'
      baseline estimation = breslow
   number of observations = 404
number of events observed = 111
   partial log-likelihood = -584.248
         time fit was run = 2025-04-16 05:24:33 UTC

---
              coef exp(coef)  se(coef)  coef lower 95%  coef upper 95% exp(coef) lower 95% exp(coef) upper 95%
covariate
subtype     -0.221     0.802     0.217          -0.645           0.204               0.525               1.226
MTOR_PRKCB   0.042     1.043     0.249          -0.446           0.531               0.640               1.700
CCNE2_CHEK1  0.030     1.030     0.617          -1.180           1.240               0.307               3.455
GAB2_STAT5A -0.065     0.937     0.088          -0.237           0.108               0.789               1.114
FOXO3_MAPK8  0.069     1.072     0.288          -0.495           0.634               0.610               1.884
CDK1_CHEK1  -1.037     0.354     0.785          -2.576           0.501               0.076               1.651

             cmp to      z     p  -log2(p)
covariate
subtype       0.000 -1.019 0.308     1.699
MTOR_PRKCB    0.000  0.170 0.865     0.209
CCNE2_CHEK1   0.000  0.048 0.962     0.056
GAB2_STAT5A   0.000 -0.733 0.464     1.108
FOXO3_MAPK8   0.000  0.241 0.810     0.304
CDK1_CHEK1    0.000 -1.321 0.186     2.423
---
Concordance = 0.525
Partial AIC = 1180.497
log-likelihood ratio test = 3.057 on 6 df
-log2(p) of ll-ratio test = 0.319

DFS Concordance: 0.5251181251181252

DFS Predictions Sample:
              DFS_prob_12m  DFS_prob_36m  DFS_prob_60m  DFS_risk_score
sample_id
TCGA-05-4398      0.920292      0.666872      0.555250        0.201798
TCGA-05-4420      0.913823      0.644317      0.528190        0.283306
TCGA-05-4426      0.917849      0.658284      0.544897        0.233287
TCGA-05-4427      0.924112      0.680483      0.571782        0.150643
TCGA-38-4625      0.925938      0.687066      0.579832        0.125313

In [44]:
# Plot risk score distribution
if os_predictions is not None and dfs_predictions is not None:
    plt.figure(figsize=(8, 6))
    plt.hist(os_predictions['OS_risk_score'], bins=30, alpha=0.5, label='OS Risk')
    plt.hist(dfs_predictions['DFS_risk_score'], bins=30, alpha=0.5, label='DFS Risk')
    plt.xlabel("Risk Score")
    plt.ylabel("Frequency")
    plt.legend()
    plt.title("Risk Score Distribution for OS and DFS")
    plt.savefig("risk_score_distribution.png")
    plt.close()
elif os_predictions is not None:
    plt.figure(figsize=(8, 6))
    plt.hist(os_predictions['OS_risk_score'], bins=30, alpha=0.5, label='OS Risk')
    plt.xlabel("Risk Score")
    plt.ylabel("Frequency")
    plt.legend()
    plt.title("Risk Score Distribution for OS")
    plt.savefig("risk_score_distribution.png")
    plt.close()

In [45]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


# Merge subtype
os_data = os_predictions.merge(os_survival[['sample_id', 'subtype']], on='sample_id', how='left')
os_data['subtype'] = os_data['subtype'].map({0: 'LUAD', 1: 'LUSC'})

# Print summary
print("OS Predictions Summary:")
print(os_data[['OS_prob_12m', 'OS_prob_36m', 'OS_prob_60m', 'OS_risk_score']].describe())

# Stratify by risk score
os_data['risk_group'] = pd.qcut(os_data['OS_risk_score'], q=4, labels=['Low', 'Low-Mid', 'High-Mid', 'High'])
print("\nRisk Group Counts:")
print(os_data['risk_group'].value_counts())

# Survival probability by subtype
print("\nMean OS Probabilities by Subtype:")
print(os_data.groupby('subtype')[['OS_prob_12m', 'OS_prob_36m', 'OS_prob_60m']].mean())

OS Predictions Summary:
       OS_prob_12m  OS_prob_36m  OS_prob_60m  OS_risk_score
count   664.000000   664.000000   664.000000   6.640000e+02
mean      0.859091     0.618520     0.465140   8.025709e-18
std       0.010962     0.024973     0.029950   8.466853e-02
min       0.813663     0.520463     0.352935  -3.887559e-01
25%       0.852300     0.602830     0.446120  -4.910686e-02
50%       0.859581     0.619293     0.465707  -7.437285e-04
75%       0.865744     0.633463     0.482816   5.395858e-02
max       0.902444     0.722472     0.595451   3.088173e-01

Risk Group Counts:
risk_group
Low         166
Low-Mid     166
High-Mid    166
High        166
Name: count, dtype: int64

Mean OS Probabilities by Subtype:
         OS_prob_12m  OS_prob_36m  OS_prob_60m
subtype
LUAD        0.854196     0.607449     0.451959
LUSC        0.864614     0.631011     0.480010

In [46]:
# Plot survival probability distribution
plt.figure(figsize=(10, 6))
for col in ['OS_prob_12m', 'OS_prob_36m', 'OS_prob_60m']:
    sns.kdeplot(data=os_data, x=col, label=col, hue='subtype')
plt.title("OS Survival Probability Distribution by Subtype")
plt.xlabel("Survival Probability")
plt.legend()
plt.savefig("os_prob_distribution.png")
plt.close()

# Plot risk score by subtype
plt.figure(figsize=(8, 6))
sns.boxplot(data=os_data, x='subtype', y='OS_risk_score')
plt.title("OS Risk Score by Subtype")
plt.savefig("os_risk_by_subtype.png")
plt.close()

# Save high-risk patients
high_risk = os_data[os_data['risk_group'] == 'High'][['sample_id', 'OS_risk_score', 'OS_prob_36m', 'subtype']]
high_risk.to_csv("high_risk_patients.csv", index=False)
print("\nHigh-Risk Patients Saved to high_risk_patients.csv")
print(high_risk.head())

High-Risk Patients Saved to high_risk_patients.csv
      sample_id  OS_risk_score  OS_prob_36m subtype
0  TCGA-05-4244       0.262843     0.535962    LUAD
1  TCGA-05-4249       0.126574     0.580283    LUAD
3  TCGA-05-4384       0.183825     0.561970    LUAD
4  TCGA-05-4396       0.086901     0.592698    LUAD
5  TCGA-05-4397       0.055145     0.602468    LUAD

In [47]:
# Function to validate Cox model
def cox_validate(data, features, endpoint):
    if data.shape[0] < 20:
        print(f"Error: {endpoint} data too small ({data.shape[0]} samples). Skipping.")
        return None, None
    
    # Train/test split
    train, test = train_test_split(data, test_size=0.3, random_state=42)
    print(f"{endpoint} Train Shape:", train.shape)
    print(f"{endpoint} Test Shape:", test.shape)
    
    # Define covariates
    covariates = ['subtype'] + features.columns.tolist()
    cox_columns = ['time', 'event'] + covariates
    
    # Fit model on training data
    cph = CoxPHFitter()
    try:
        cph.fit(train[cox_columns], duration_col='time', event_col='event')
    except Exception as e:
        print(f"Error fitting {endpoint} Cox model: {e}")
        return None, None
        # Save model
    model_file = f"cox_{endpoint}_train_model.joblib"
    joblib.dump(cph, model_file)
    print(f"Saved {endpoint} model to {model_file}")
    
    # Save feature names
    pd.Series(covariates).to_csv(f"cox_{endpoint}_train_features.csv", index=False)
    
    # Predict on test set
    time_points = [12, 36, 60]
    test_prob = cph.predict_survival_function(test[covariates], times=time_points).T
    test_prob.index = test.index
    test_prob.index.name = 'sample_id'
    test_prob.columns = [f"{endpoint}_prob_{t}m" for t in time_points]
    
    # Predict risk scores
    test_risk = cph.predict_log_partial_hazard(test[covariates])
    test_risk = pd.Series(test_risk, index=test.index, name=f"{endpoint}_risk_score")
    
    # Save test predictions
    test_predictions = pd.concat([test_prob, test_risk], axis=1)
    test_predictions.to_csv(f"test_{endpoint}_predictions.csv")
    
    # Print summary
    print(f"\n{endpoint} Cox Regression Summary:")
    cph.print_summary(decimals=3)
    print(f"{endpoint} Concordance:", cph.concordance_index_)
    print(f"\n{endpoint} Test Predictions Sample:")
    print(test_predictions.head())
    
    return test_predictions, cph

In [49]:
import joblib 
from sklearn.model_selection import train_test_split
# Validate OS
os_test_predictions, os_cph = cox_validate(os_data, features, "OS")
if os_test_predictions is not None:
    print("\nOS Test Predictions Saved to test_OS_predictions.csv")

# Validate DFS
dfs_test_predictions, dfs_cph = cox_validate(dfs_data, features, "DFS")
if dfs_test_predictions is not None:
    print("\nDFS Test Predictions Saved to test_DFS_predictions.csv")

OS Train Shape: (464, 7)
OS Test Shape: (200, 7)
Error fitting OS Cox model: "['time', 'event', 'MTOR_PRKCB', 'CCNE2_CHEK1', 'GAB2_STAT5A', 'FOXO3_MAPK8', 'CDK1_CHEK1'] not in index"
DFS Train Shape: (282, 8)
DFS Test Shape: (122, 8)
Saved DFS model to cox_DFS_train_model.joblib

DFS Cox Regression Summary:

<lifelines.CoxPHFitter: fitted with 282 total observations, 203 right-censored observations>
             duration col = 'time'
                event col = 'event'
      baseline estimation = breslow
   number of observations = 282
number of events observed = 79
   partial log-likelihood = -386.540
         time fit was run = 2025-04-16 05:25:21 UTC

---
              coef exp(coef)  se(coef)  coef lower 95%  coef upper 95% exp(coef) lower 95% exp(coef) upper 95%
covariate
subtype     -0.159     0.853     0.263          -0.675           0.357               0.509               1.429
MTOR_PRKCB  -0.069     0.934     0.287          -0.631           0.494               0.532               1.638
CCNE2_CHEK1 -0.049     0.952     0.719          -1.459           1.361               0.232               3.901
GAB2_STAT5A -0.062     0.940     0.106          -0.270           0.146               0.764               1.158
FOXO3_MAPK8 -0.101     0.904     0.338          -0.762           0.561               0.467               1.752
CDK1_CHEK1  -1.020     0.361     1.118          -3.211           1.172               0.040               3.227

             cmp to      z     p  -log2(p)
covariate
subtype       0.000 -0.605 0.545     0.875
MTOR_PRKCB    0.000 -0.240 0.811     0.303
CCNE2_CHEK1   0.000 -0.068 0.946     0.080
GAB2_STAT5A   0.000 -0.580 0.562     0.832
FOXO3_MAPK8   0.000 -0.298 0.765     0.386
CDK1_CHEK1    0.000 -0.912 0.362     1.467
---
Concordance = 0.519
Partial AIC = 785.080
log-likelihood ratio test = 1.970 on 6 df
-log2(p) of ll-ratio test = 0.116

DFS Concordance: 0.5187572815533981

DFS Test Predictions Sample:
              DFS_prob_12m  DFS_prob_36m  DFS_prob_60m  DFS_risk_score
sample_id
TCGA-55-1596      0.925490      0.677815      0.543217        0.151973
TCGA-33-4532      0.938969      0.728867      0.608783       -0.054724
TCGA-98-7454      0.933049      0.706079      0.579182        0.040983
TCGA-44-7670      0.923101      0.669070      0.532260        0.184817
TCGA-44-A4SS      0.949414      0.770506      0.664239       -0.247899

DFS Test Predictions Saved to test_DFS_predictions.csv

In [50]:
# Drop NaNs
os_survival = os_survival.dropna()
dfs_survival = dfs_survival.dropna()

print("OS Survival Data Shape:", os_survival.shape)
print("OS Survival Data Sample:")
print(os_survival.head())
print("\nDFS Survival Data Shape:", dfs_survival.shape)
print("DFS Survival Data Sample:")
print(dfs_survival.head())

OS Survival Data Shape: (986, 4)
OS Survival Data Sample:
      sample_id       time  event  subtype
0  TCGA-05-4244   0.000000      0        0
1  TCGA-05-4249  50.070684      0        0
2  TCGA-05-4250   3.978039      1        0
3  TCGA-05-4382  19.955946      0        0
4  TCGA-05-4384  14.005326      0        0

DFS Survival Data Shape: (596, 4)
DFS Survival Data Sample:
       sample_id       time  event  subtype
3   TCGA-05-4382  10.980702      1        0
10  TCGA-05-4398  47.046060      0        0
18  TCGA-05-4420  29.983233      0        0
22  TCGA-05-4426  15.024493      1        0
23  TCGA-05-4427  26.005194      0        0

In [51]:
# Verify DFS events
print("\nDFS Event Counts:")
print(dfs_survival['event'].value_counts())

# Warn about DFS size
if dfs_survival.shape[0] < 100:
    print("Warning: DFS data has few samples (", dfs_survival.shape[0], "). Model may be unreliable.")

DFS Event Counts:
event
0    445
1    151
Name: count, dtype: int64